body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;

    /* because webkit: */ margin: 0px;
}

/* Header */

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: black;
}

header img {
    height: 50px;
    padding: 10px;
}

nav {
    position: relative;
    top: 20px;
    float: right;
}

nav span {
    padding: 10px;
}

nav span a {
    color: seashell;
}


/* Content section */

.content-container {
    padding-top: 69px;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
}

/* Mission section */

#mission {
    background-image: url("../images/img-mission-background.jpg");
    height: 700px;
    position: relative;
}

.mission-banner {
    position: absolute;
    width: 100%;
    background-color: black;
    height: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
}

h2, h4 {
    margin: 0.75rem;
}


/* Tea of the month */

#featured {
    padding: 50px;
}

.featured-content {
    display: inline-block;
    padding: 5px;
}

.fc-image {
    height: 200px;
    width: 300px;
}

.fc-item {
    padding: 5px;
    margin: 0;
}


/* Locations */